.App {
  text-align: center;
  width: 55%;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.body {
  background-color: blue;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tabIn {
  padding-left: 15%
}

.bold {
  font-weight: bold;
}

.flexboxContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: end;
}

.sectionTitle {
  display: block;
  margin-top: 5%;
  text-align: left;
}

.skills {
  margin-left: 3px;
  margin-right: 3px;
}
